a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}
body {
    background-color: black;
    font-family: verdana, arial, sans-serif;
    max-width: 1200px;
    padding: 10px;
}
div.thread span.from {
    font-weight: bold;
    color: #c00000;
}
div.searchResults, div.searchBar, div.roots {
    min-height: 20px;
    margin: 5px;
    padding: 10px;
    background-color: #f0f0f0;
    overflow: auto;
}
div.thread {
    min-height: 20px;
    margin: 10px;
    padding: 10px;
    background-color: #ffffff;
    overflow: auto;
}
div.roots span.comments {
    padding-left: 10px;
}
div.article {
    overflow: auto;
}
div.thread a {
    float: right;
}
div.thread span.date {
    float: right;
}
div.thread a.permalink {
    float: right;
    font-weight: bold;
}
div.logo {
    float: right;
    padding: 5px;
    padding-left: 20px;
    height: 100%;
}
a.thumbnail {
    padding-left: 10px;
    width: 154px;
    height: 115px;
}
a.thumbnail img {
   border: 0px;
}
